- name: Download & Extract SDK
  run: |
    cd ~/cache/sdk

    URL="${{ matrix.sdk_url_path%/ }}/sha256sums"
    echo "Using URL: $URL"

    wget "$URL"

    SDK_FILE=$(grep "${{ matrix.sdk_name }}" sha256sums | awk '{print $2}' | sed 's/*//')
    if [ -z "$SDK_FILE" ]; then
      echo "::error::SDK not found! Check sdk_name in matrix."
      exit 1
    fi

    if [ ! -f "$SDK_FILE" ]; then
      wget "${{ matrix.sdk_url_path%/ }}/$SDK_FILE"
    fi

    sha256sum -c sha256sums --ignore-missing || exit 1

    mkdir -p "$SDK_HOME"
    if [[ "$SDK_FILE" == *.zst ]]; then
      zstd -d "$SDK_FILE" --stdout | tar -xf - -C "$SDK_HOME" --strip-components=1
    else
      7z x "$SDK_FILE" -so | tar -xf - -C "$SDK_HOME" --strip-components=1
    fi
